/* overall styling for page and colors 
Color palette used are: 
Primary: #dac0a3
Secondary: #102c57
Accent one: #eadbc8
Accent two: #535c91
Background: #fefaf6

Functions and style items 
- Boxes for projects will have small shadow affects 
- Design to have hover effect over projects and buttons 
- anchor links to sections
- add cv to page with download link and photos

styles need for 
Nav section 
CTA/Main section 
project section 
About section 
contact section 
*/




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}